@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment 2 - Jackson Secrist";
}


<div class="main center">
    <h2>Preferred Name: Jackson</h2>
    <img src="~/img/Surfing.jpg" />
    <img src="~/img/SurfingDonut.jpeg" />
    <br /><br />
    <span style="font-weight:bold">What I hope to get out of IS 413:</span>
    <p class="paragraph">
        I hope to gain a better understanding of ASP.NET MVC and all the possibilities it presents.
        I want to learn more about the MVC framework, and how to harness its capabilities so I can
        put them to use in my future career.
    </p>
    <br />
    <span style="font-weight:bold">Top 3 Jobs I want to pursue:</span>
    <ol class="jobs">
        <li>Software Engineer</li>
        <li>Database Administrator</li>
        <li>Game Developer</li>
    </ol>
    <br />
    <br />
</div>
